/** @format */

.item {
    font-family: SFBold;
    font-variant-ligatures: discretionary-ligatures;
    text-shadow: 1px 1px 0 #414951;
}

.Standard {
    background: #fbba20;
}

.Standard:hover {
    background: #cb8a00;
}

.Mega {
    background: #28aafb;
}

.Mega:hover {
    background: #007acb;
}

.Giga {
    background: #db2020;
}

.Giga:hover {
    background: #ab0000;
}
