.item {
    height: 150px;
    font-family: SFBold;
    font-variant-ligatures: discretionary-ligatures;
    text-shadow: 1px 1px 0 #414951;
}

.title {
    font-size: 16px;
}

.itemArt {
    width: 144px;
}

.Standard {
	background: #fbba20;
}

.Mega {
	background: #28aafb;
}

.Giga {
	background: #db2020;
}