/** @format */

.select {
    width: 50px;
    height: 32px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.buffer {
    width: 50px;
    display: inline-block;
    margin: 0 5px;
}
