/** @format */

.sectionHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

.section {
    width: 100%;
    padding: 5px 0;
}

.header {
    display: inline-block;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: bold;
}

.label {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

.textContainer {
    min-width: 500px;
    width: fit-content;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemsContainer {
    min-width: 225px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.imageContainer {
    max-width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stateContainer {
    width: 225px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.folderEditContainer {
    width: 225px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h4 {
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
}
