/** @format */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
}

.textInput {
    margin: 5px 0;
    width: 90%;
    height: 24px;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox {
    margin: 5px auto;
    width: 20px;
    height: 20px;
    padding: 0 5px;
}
