/** @format */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: left;
    gap: 5px;
}

.checkbox {
    margin: 5px auto;
    width: 20px;
    height: 20px;
    padding: 0 5px;
}

.select {
    font-size: 12px;
    height: 31px;
    width: 70px;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid #979797;
}

.itemDropdown {
    width: 100px;
}

.spacer {
    width: 70px;
}
