/** @format */

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.textarea {
    margin: 0;
    min-width: 300px;
    width: fit-content;
    flex-grow: 1;
    height: 16px;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    vertical-align: top;
    resize: vertical;
    border: 2px solid #979797;
}
