/** @format */

.fullscreenPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}

.image {
    margin: auto;
    opacity: 1;
    max-width: 95vw;
    max-height: 95vh;
}
