.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	font-size: 12px;
}

.action {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.folderLabel {
    font-size: 12px;
    font-weight: bold;
}