.folderEditContainer {
    width: 225px;
    font-size: 12px;
    margin: 5px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
};

.action {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.folderLabel {
    font-size: 12px;
    font-weight: bold;
}

.regged {
    border: 1px solid #d5459a;
}

.tagged {
    border: 1px solid green;
}