/** @format */

.itemContainer {
    flex-grow: 1;
    min-width: 25%;
    max-width: 30%;
    margin: 5px;
    margin-bottom: 0px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
    .itemContainer {
        width: 100%;
        max-width: 100%;
    }
}
