/** @format */

.notes {
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(65% - 10px);
    height: calc(100vh - 20px);
    margin: 10px;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 24px;
}

.fullSize {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .notes {
        margin: 0 10px;
        height: calc(80vh - 40px);
    }
}
