/** @format */

.stateContainer {
    min-width: 25%;
    flex-grow: 1;
    max-width: 30%;
    margin: 5px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.stateField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.keyLabel {
    font-weight: bold;
}

.hidden {
    display: none;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
    .stateContainer {
        width: 45%;
        max-width: 45%;
    }
}
