/** @format */

.text {
    font-size: 14px;
    margin-bottom: 10px;
    vertical-align: top;
}

.found {
    text-decoration: line-through;
}

.text p,
.text ul,
.text ol,
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
    margin: 0;
}
