/** @format */

.btn {
    height: 30px;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
    padding: 0px;
    background: #eee;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    vertical-align: top;
}

.btn:hover {
    background: #888;
}

.small {
    width: 75px;
}

.medium {
    width: 100px;
}

.large {
    width: 200px;
}
