/** @format */

.icon {
    vertical-align: top;
    display: inline-block;
}

.small {
    width: 20px;
}

.large {
    width: 100px;
}

.right {
    float: right;
}

.hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.grayscale {
    filter: grayscale(100%);
}

.grayscale:hover {
    filter: none;
}
