.container {

}

.sectionHeader {
    display: inline-block;
    margin: 10px 5px;
    font-size: 29px;
}

.routeForm {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.routeForm input[type=text] {
    margin: 5px auto;
    width: 360px;
    height: 24px;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 16px;
}

.routeForm textarea {
    margin: 5px;
    width: 300px;
    height: 28px;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 16px;
    vertical-align: middle;
}

.routeForm select {
    height: 32px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.routeInfo {
    overflow: scroll;
    width: 25%;
    height: 100vh;
    padding-right: -1px;
}

.sectionInfo {
    overflow: scroll;
    width: 75%;
    height: 100vh;
}

.formSection {
    width: 100%;
    padding: 5px  0;
}

.game-select {
    width: 240px;
}

.item-select {
    width: 150px;
}

.item-select-buffer {
    width: 150px;
    display: inline-block;
    margin: 0 5px;
}

.modifier-select {
    width: 50px;
}

.modifier-select-buffer {
    width: 50px;
    display: inline-block;
    margin: 0 5px;
}

.btn {
    width: 192px;
    height: 48px;
    font-size: 20px;
    margin: 5px;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 11px 5px;
    vertical-align: middle;
    display: inline-block;
}

.deleteSection, .addSection img {
    width: 20px;
    height: 20px;
    margin: 0px 5px 5px 5px;
    vertical-align: middle;
    display: inline-block;
}

.icon:hover, .deleteSection:hover, .addDropdown:hover, .addSection:hover {
    cursor: pointer;
}

.addSection {
    margin: 20px 0;
}

.preview {
    width: 95%;
}

.jsonLink {
    color: white;
}

.jsonLink:hover {
    color: #b3b3b3;
}

.instructions {
    font-size: 20px;
}
