/**************/
/* SF Styling */
/**************/
.MMSF1 .notes, .MMSF2 .notes, .MMSF3 .notes {
    font-size: 24px;
}

.MMSF1 .tracker, .MMSF2 .tracker, .MMSF3 .tracker {
    font-family: SFBold;
    font-variant-ligatures: discretionary-ligatures;
    text-shadow: 1px 1px 0 #414951;
}

.MMSF1 .Standard, .MMSF2 .Standard, .MMSF3 .Standard {
	background: #fbba20;
}

.MMSF1 .Mega, .MMSF2 .Mega,.MMSF3 .Mega {
	background: #28aafb;
}

.MMSF1 .Giga, .MMSF2 .Giga, .MMSF3 .Giga {
	background: #db2020;
}

.MMSF1 .item, .MMSF2 .item, .MMSF3 .item {
	width: 154px;
	height: 150px;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 5px;
}

.MMSF1 .small-item, .MMSF2 .small-item, .MMSF3 .small-item {
    font-family: SFBold;
	width: 78px;
	height: 75px;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 5px;
	text-shadow: 1px 1px 0 #414951;
}

.MMSF1 .title, .MMSF2 .title, .MMSF3 .title {
    font-size: 16px;
}

.MMSF1 .small-title, .MMSF2 .small-title, .MMSF3 .small-title {
    font-size: 12px;
}

.MMSF1 .potential-items-list, .MMSF2 .potential-items-list, .MMSF3 .potential-items-list {
    font-size: 20px;
}

.MMSF1 .icon, .MMSF2 .icon,.MMSF3 .icon {
	width: 144px;
}

.MMSF1 .small-icon, .MMSF2 .small-icon,.MMSF3 .small-icon {
	width: 72px;
	font-size: 12px;
}

/**************/
/* BN Styling */
/**************/
.MMBN1 .notes, .MMBN2 .notes, .MMBN3 .notes, .MMBN4 .notes, .MMBN5 .notes, .MMBN6 .notes {
    font-size: 24px;
}

.MMBN1 .tracker, .MMBN2 .tracker, .MMBN3 .tracker, .MMBN4 .tracker, .MMBN5 .tracker, .MMBN6 .tracker {
    font-family: BN6FontBold;
}

.MMBN1 .Battlechips, .MMBN2 .Battlechips, .MMBN3 .Standard, .MMBN4 .Standard, .MMBN5 .Standard, .MMBN6 .Standard {
    background: #dedeef;
}

.MMBN1 .Mega, .MMBN2 .Mega, .MMBN3 .Mega, .MMBN4 .Mega, .MMBN5 .Mega, .MMBN6 .Mega {
    background: #adefef;
}

.MMBN1 .Giga, .MMBN2 .Giga, .MMBN3 .Giga, .MMBN4 .Giga, .MMBN5 .Giga, .MMBN6 .Giga {

}

.MMBN1 .item, .MMBN2 .item, .MMBN3 .item, .MMBN4 .item, .MMBN5 .item, .MMBN6 .item {
	width: 154px;
	height: 162px;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 5px;
	text-shadow: 1px 1px 0 #414951;
}

.MMBN1 .small-item, .MMBN2 .small-item, .MMBN3 .small-item, .MMBN4 .small-item, .MMBN5 .small-item, .MMBN6 .small-item {
    font-family: BN6FontBold;
	width: 82px;
	height: 91px;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 5px;
	text-shadow: 1px 1px 0 #414951;
}

.MMBN1 .modifier, .MMBN2 .modifier, .MMBN3 .modifier, .MMBN4 .modifier, .MMBN5 .modifier, .MMBN6 .modifier {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 5px 1px;
    border: 1px solid black;
    border-radius: 5px;
    background: #a6a6a6;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 0 #414951;
}

.MMBN1 .small-modifier, .MMBN2 .small-modifier, .MMBN3 .small-modifier, .MMBN4 .small-modifier, .MMBN5 .small-modifier, .MMBN6 .small-modifier {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: #a6a6a6;
    font-size: 16px;
    text-align: center;
    font-family: BN6FontBold;
    text-shadow: 1px 1px 0 #414951;
}

.MMBN1 .title, .MMBN2 .title, .MMBN3 .title, .MMBN4 .title, .MMBN5 .title, .MMBN6 .title {
    font-size: 18px;
}

.MMBN1 .small-title, .MMBN2 .small-title, .MMBN3 .small-title, .MMBN4 .small-title, .MMBN5 .small-title, .MMBN6 .small-title {
    font-size: 16px;
}

.MMBN1 .icon, .MMBN2 .icon, .MMBN3 .icon, .MMBN4 .icon, .MMBN5 .icon, .MMBN6 .icon {
	width: 140px;
	border: 2px solid black;
}

.MMBN1 .small-icon, .MMBN2 .small-icon, .MMBN3 .small-icon, .MMBN4 .small-icon, .MMBN5 .small-icon, .MMBN6 .small-icon {
	width: 70px;
	border: 2px solid black;
	font-size: 12px;
}