/** @format */

.tracker {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-grow: 1;
}

.section {
    margin-right: 10px;
    margin-bottom: 10px;
}

.fullSize {
    width: 100%;
}

.header {
    width: -moz-calc(100% - 15px);
    width: -webkit-calc(100% - 15px);
    width: -o-calc(100% - 15px);
    width: calc(100% - 15px);
    margin: 5px 15px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
