/** @format */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #fff;
}

.img {
    width: 95%;
}
