/** @format */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.11);
}

.wrapper:nth-child(2n) {
    background: none;
}

.wrapper:hover {
    background: rgba(255, 255, 255, 0.075);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    height: 100%;
}

.link:hover {
    cursor: pointer;
}
