.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.header {
    font-weight: bold;
    height: 50px;
    align-items: center;
}

.gameArt {
    width: 50%;
}